.git
.gitignore
.env
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
*.log
.DS_Store
*.db
*.csv
*.png
*.jpg
*.jpeg
.gif
.trae
assets/data
trading_data.db
record.csv
server.log
trend_graph.png
kline_chart.png
*.svg
templates/assets/logo.png
templates/assets/darklogo.png
data/images
assets/*.png
assets/*.gif
